export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

use devenv 

if [[ "$SHELL" =~ "zsh" || "$SHELL"  =~ "bash" ]]; then
  source ./site/env/bin/activate || true
fi

if [[ "$SHELL" =~ "fish" ]]; then
  source ./site/env/bin/activate.fish || true
fi

