[Unit]
Description=Run ansible-pull every {{ pull_interval }}

[Timer]
OnBootSec=1min
OnUnitActiveSec={{ pull_interval }}
AccuracySec=15s
Unit=ansible-pull.service
Persistent=true

[Install]
WantedBy=timers.target
