[Unit]
Description=QuickNotes HTTP service
After=network-online.target
Wants=network-online.target

[Service]
User={{ quicknotes_user }}
WorkingDirectory={{ quicknotes_data_dir }}
ExecStart={{ quicknotes_bin }}
Environment=ADDR={{ listen_addr }}
Environment=DATA_PATH={{ data_path }}
Environment=SEED_PATH={{ seed_path }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
