[Unit]
Description=Pull QuickNotes configuration from Git
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ pull_dir }}
ExecStart=/usr/bin/ansible-pull \
  -d {{ pull_dir }} \
  -U {{ repo_url }} \
  -C {{ repo_branch }} \
  -i {{ pull_dir }}/ansible/pull/inventory.ini \
  ansible/playbook.yaml
